{% extends 'templates/app.twig' %}

{% block content %}
    <dvi class="row">
        <h1 class="text-center">Welcome to <strong>DevApp</strong> Framework php.</h1>
        <h2 class="text-center">Feel free to develop your project with <strong>DevApp</strong>.</h2><br>
        <hr>
        <h1 class="text-center">Author:</h1>
        <div id="contributorsList">
        </div><br>
    </dvi>
{% endblock %}